body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    margin-bottom: 50px;
    background-color: #272829; 
    color: #fff;
}

.navbar-brand{
    color: #EC994B;
    font-family: 'Kalnia', serif;
}

.contact-label {
    color: #EC994B;
}

.navbar {
    overflow: hidden;
    background-color: #272829;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s;
    z-index: 1001; 
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    background-color: #EC994B;
    color: #73777B;
}

#home {
    width: 100%;
    height: 100vh;
    position: relative;
}


#home {
    margin-bottom: -50px; 
}

#about {
    margin-top: 50px; 
}

.carousel-item img {
    height: 650px; 
    object-fit: cover; 
}

.first-pic, .second-pic, .third-pic, .fourth-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tagline {
    color: #EC994B;
    font-size: 30px;
}

.pic-heading {
    color: #F1EEE9;
    font-weight: bold;
    font-size: 70px;
}

.pic-para {
    color: #F1EEE9;
    font-weight: bold;
    font-size: 36px;
}

.social-icons img {
    width: 30px; 
    margin: 0 5px;
}

.content {
    margin-top: 60px;
    padding: 20px;
}

section {
    position: relative;
    z-index: 1;
    padding-top: 70px;
}

#about {
    z-index: 2;
    padding-top: 50px; 
}

#menu {
    text-align: center;
    background-image: url('./images/bg_menu.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding: 50px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.menu-item {
    max-width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
}

.menu-item h3 {
    margin: 10px 0;
}

.menu-item p {
    margin: 5px 0;
}

.menu-item .price {
    font-weight: bold;
    color: #ff6600;
}

.reservation {
    padding: 60px 0;
}

.reservation-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-left {
    max-width: 500px;
    width: 100%;
}

.form-right {
    flex-grow: 1;
    padding: 40px;
    color: #fff;
}

.form-right h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-wrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 20px;
}

.icon-wrapper ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.btn-secondary {
    background-color: #EC994B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #73777B;
}

.menu-item img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
}

.menu-item {
    transition: color 0.3s, transform 0.3s; /* Add smooth transitions for color and size changes */
}

.menu-item:hover {
    color: #ff5733; 
    transform: scale(1.1); 
}

footer {
    background-color: #272829;
}

#about, #testimonial {
    background-image: url('./images/bg.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.circular-frame {
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    margin: 0 auto;
  }
  
  .circular-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  
  
